<!DOCTYPE html>
<html>

  {% include head.html %}

   <body>
    <div id="page" class="container-fluid">     
        {% include navigation.html %}
        
           <section class="site_section template_hero">
               <div class="container">
                    <div class="row center-xs">
                       <div class="col-sm-6 col-xs-12">
                            <h1 class="page_header">Contact Kastelo</h1>
                       </div>
                    </div>
                </div>
           </section>
        
            <section id="gallery" class="site_section">
               <div class="container">
                    <article class="row text center-xs">
                       <div class="col-xs-12">
                           <p>You can email us at <a href="mailto:hardware@getmonero.org">hardware@getmonero.org</a></p>      
                       </div>
                    </article>
                </div>
        </section>
           
        {% include footer.html %}
     </div>
  </body>
</html>
  
      