<!DOCTYPE html>
<html>


  {% include head.html %}

   <body>
    <div id="page" class="container-fluid">     
        {% include navigation.html %}
           <section id="hero_content">
               <div class="container">
                    <div class="row middle-xs between-md center-sm end-xs">
                       <div class="col-sm-6 col-xs-8">
                            <h1><span>KASTELO</span> <br>Open Source Hardware Wallet</h1>
                            <a href="https://taiga.getmonero.org/project/michael-rfc-hwallet-1-implementation/" class="btn btn-large">Taiga Project</a>
                            <a href="https://github.com/monero-project/kastelo" class="btn btn-secondary btn-large">GitHub</a>
                       </div>
                        <div class="col-md-5 col-sm-4 col-xs-4">
                            <img src="img/product.png" alt="">
                        </div>
                    </div>
                </div>
           </section>

            <section id="gallery" class="site_section">
               <div class="container">
                    <div class="row middle-xs center-xs">
                       <div class="col-xs-12">
                         <div align="justify">
                            <h4>Kastelo is a Open Source hardware wallet designed for safely storing and
                                using Monero (XMR), a leading cryptocurrency with a focus on private and censorship-resistant
                                transactions. Parts have been selected from manufactures that do not require a non-disclosure
                                agreement or closed-sourced terms, so the complete production process can be transparently
                                implemented. Hardware design documentation is provided under a CERN Open Hardware Licence to
                                encourage knowledge sharing and dissemination. The development and funding of the project is
                                a grassroots effort with the aim of developing a wallet design that is available for anyone to
                                review, experiment, and improve in the interest of advancing financial freedom.</h4>
                            <h4>Hardware wallets are commonly used to secure money transactions. Cryptographic keys are generated
                                and stored on the physical wallet device that is isolated from an operating system. Functions are
                                executed externally and require a manual confirmation by pressing a button. The operating system
                                never has access to secrets stored on the device. This process helps to defend against keyloggers
                                and other malware that may exist on a compromised system.</h4></div><br><br>
                            <h2>Take a look at our beta boards</h2>
                       </div>
                    </div>
                    <article class="row center-xs">
                       <div class="col-xs-12">
                           <div class="carousel">

                              <input type="checkbox" class="click">
                              <div class="slide" slide="4" annot="Kastelo Hardware Wallet 4">
                                <img src="img/monero-harware-wallet-4.jpg" alt="Kastelo Hardware Wallet">
                              </div>

                              <input type="checkbox" class="click">
                              <div class="slide" slide="3" annot="Kastelo Hardware Wallet 3">
                                <img src="img/monero-hardware-wallet-3.jpg"  alt="Kastelo Hardware Wallet">
                              </div>

                              <input type="checkbox" class="click">
                              <div class="slide" slide="2" annot="Kastelo Hardware Wallet 2">
                                <img src="img/monero-hardware-wallet-2.jpg"  alt="Kastelo Hardware Wallet">
                              </div>

                              <input type="checkbox" class="click">

                              <div class="slide" slide="1" annot="Kastelo Hardware Wallet 1">
                                <img src="img/monero-hardware-wallet-1.jpg" alt="Kastelo Hardware Wallet">
                              </div>

                              <div class="counter" count="4"> / 4</div>

                            </div>

                       </div>
                    </article>
                </div>
        </section>

        <section id="boards" class="site_section">
               <div class="container">
                   <div class="row middle-xs center-xs">
                       <div class="col-xs-12">
                           <h2>Kastelo Board Explorer</h2>
                           <p id="comingsoon">Coming Soon</p>
                       </div>
                   </div>
                   <!--article class="row middle-xs center-xs">
                        <div class="col-md-4">
                            <a href="#" target="_blank">
                                <div class="board">
                                    <img src="img/chip-1.svg" alt="Chip Icon">
                                    <h3>View One</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" target="_blank">
                                <div class="board">
                                    <img src="img/chip-2.svg" alt="Chip Icon">
                                    <h3>View Two</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" target="_blank">
                                <div class="board">
                                    <img src="img/chip-3.svg" alt="Chip Icon">
                                    <h3>View Three</h3>
                                </div>
                            </a>
                        </div>
                   </article-->
               </div>
        </section> 
           
        {% include footer.html %}
     </div>
  </body>
</html>
