<footer class="container-fluid site_section" id="contact">
    <div class="container">
        <div class="row center-xs">
            <div class="col-xs-12">
                <h2>Contact</h2>
                <p class="email"><a href="mailto:hardware@getmonero.org">hardware@getmonero.org</a></p>
            </div>
        </div>
        <div class="row bottom_row middle-xs between-md center-xs">
            <div class="col-sm-6 col-xs-12 last-xs">
                <p id="copy">Copyright © 2018 Kastelo. All rights reserved.</p>
            </div>
            <div class="col-sm-6 col-xs-12 info">
                <p><a href="#">Site License</a></p>
                <p><a href="https://getmonero.org">The Monero Project</a></p>
            </div>
        </div>
    </div>
</footer>
