<header>
               <nav class="mobile-nav mob-nav">
                    <div class="row logo-wrap start-xs middle-xs">
                        <div class="col-xs-12">
                            <a href="index.html"><img src="img/kastelo-logo.png" alt="Kastelo Logo" class="logo"></a>
                        </div> 
                    </div>
                    <input class="burger-check" id="mobile-burger" type="checkbox">
                    <label for="mobile-burger" class="hamburger hamburger--collapse">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </label>
                    <div class="slide-in-nav">
                        <div class="row center-xs">
                            <div class="col-xs-12">
                                <ul>
                                    <li class="nav-item">
                                        <a href="specs.html">Specs</a>
                                    </li>
                                     <li class="nav-item">
                                        <a href="store.html">Store</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a href="contact.html">Contact</a> 
                                    </li>
                                </ul>
                            </div>
                        </div>         
                    </div>
               </nav>
               
               <nav class="desktop-nav container">
                    <div class="row middle-xs nav-items">
                            <div class="col-sm-5">
                                <a href="index.html" class="logo-wrap"><img src="img/kastelo-logo.png" alt="Kastelo Logo" class="logo"></a>
                            </div>
                            <div class="col-sm-7">
                                <div class="row end-xs">
                                    <div class="col nav-item">
                                        <a href="specs.html">Specs</a>
                                    </div>
                                     <div class="col nav-item">
                                        <a href="store.html">Store</a> 
                                    </div>
                                    <div class="col nav-item">
                                        <a href="#contact">Contact</a> 
                                    </div>
                                </div>
                            </div>
                                
                    </div>
               </nav>
           </header>